.follow-links h2 {
    margin-top: 100px;
    text-align: center;
    color: #212EA0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.follow-links-container {
    margin: 20px auto;
    width: 80%;
    background-color: white;
}
  
.follow-links-container ul {
list-style: none;
padding: 0;
}

.follow-links-container li {
padding: 10px;
text-align: center;
font-size: 20px;
}

.follow-links-container li a {
color: black;
text-decoration: none;
display: block;
padding: 10px;
}

.follow-links-container li:hover {
text-decoration: underline;
background-color: #b9bee4;
color: #212EA0;
}

.follow-links-container li a:hover {
    color: #212EA0;
}