.advantage-page {
    padding: 50px 20px;
    text-align: center;
  }
  
.page-title {
    font-size: 2em;
    color: #212EA0;
    margin-bottom: 30px;
}
  
.advantage-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 0 20px;
}
  
  
.advantage-card {
    background-color: #d1d4e7; /* White background with transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add slight shadow to lift the cards */
    text-align: center;
    color: black; /* Ensure text is visible on light background */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  .icon {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 1.25em;
    margin: 15px 0;
  }
  
  p {
    font-size: 1em;
    color: #555;
  }